*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
html{
    background-image: linear-gradient(90deg, rgb(0, 0, 66),rgb(0, 0, 97),black);
}
a{
    text-decoration: none;
}
nav{
    margin-top: 20px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#portfolioHead{
    font-size: 1.3rem;
}
.left{
    margin-left: 50px;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.9rem;
    font-weight: bolder;
}
.right{
    color: white;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
nav ul li{
    margin: 0 20px;
    text-decoration: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.hireMe{
    margin-left: 200px;
    border: 2px solid orange;
    border-radius: 80px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.943),rgb(247, 39, 39),rgb(172, 112, 1),yellow);
    height: 30px;
    width:80px;
    text-align: center;
    padding: 10px;
}


#hireMe{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 10px;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 70px;
}
.text{
    color:aliceblue;
    font-size: 7rem;
    margin-top: 80px;
    word-spacing: 0.3ch;
    line-height: 2.4ch;
    margin-left: 100px;
}
.image{
    background-image: url('myImage.jpg');
    height: 500px;
    width:350px;
    border-radius: 155px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 200px;
}